##
## directory
##
/.bin
/.out
/.log
/.logs
/.build
/.cache
/.config
/.target

.cache
.git
.svelte-kit
.zed

bin
out
log
logs
build
cache
target

node_modules

##
## extension
##
*.bak*
*.zip
*Zone.Identifier

##
## file: include
##
/.config/config.*.json
/.nvim/*.json
/.vscode/*.json
/.zed/*.json

/CMakePresets.json

compile_commands.json

config.hh

##
## file: exclude
##
!/.config/config.*.json.template
!/.nvim/*.json.template
!/.vscode/*.json.template
!/.zed/*.json.template
